@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

:root {
    --cyan: hsl(179, 62%, 43%);
    --cyan-light: hsl(179, 62%, 43%, 0.85);
    --light-Gray: hsl(204, 43%, 93%);
    --grayish-Blue: hsl(218, 22%, 67%);
    --bright-Yellow: hsl(71, 73%, 54%);
    --bright-yellow-dark:hsl(71, 60%, 51%);
    --grayish-blue-dark: hsla(217, 54%, 90%, 0.7)
}

* {
    box-sizing: border-box;
    font-family: 'Karla', sans-serif;;
}

h1, h2, p {
    margin: 0;
}

h1{
    margin: 15px 0;
}

h2 {
    font-size: 18px;
    margin: 10px 0;
}

p {
    font-size: 16px;
}

body, html {
    min-height: 100vh;
    margin: 0;
}

.container {
    min-height: 100vh;
    padding: 30px;
    display: flex;
    align-content: center;
    background-color:var(--light-Gray)
}

.card-container {
    display: grid;
    grid-template-areas: "head head"
                         "left right";
    grid-template-columns: repeat(2, 1fr);
    flex-grow: 1;
    max-width: 800px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0px 0px 43px -12px rgba(0,0,0,0.67);
}

.head {
    grid-area: head;
    background-color: white;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;

}

.head h1 {
    color: var(--cyan-light);
}

.head p{
    line-height: 1.7;
    letter-spacing: 0.5px;
}
.side-left {
    grid-area: left;
    background-color: var(--cyan);
    border-bottom-left-radius: inherit;
}   

.side-right{
    grid-area: right;
    background-color: var(--cyan-light);
    border-bottom-right-radius: inherit;
}

main > * {
    padding: 45px;
}

.description{
    color: var(--grayish-Blue);
}

.head h2 {
    color: var(--bright-Yellow);
}

.side-left, 
.side-right {
    display: flex;
    flex-direction: column;
    color: white;
}

.price {
    display: flex;
    align-items: center;
    color: var(--grayish-blue-dark);
}

.pay-description {
    margin: 10px 0;
}

.price span {
    margin-right: 16px;
    font-size: 35px;
    color: white;
}

.side-right ul {
    list-style: none;
    padding: 0;
}

.side-right ul li {
    margin: 5px 0;
}

.button-sign-up {
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.button-sign-up button {
    width: 100%;
    height: 50px;
    border-radius: 4px;
    border: none;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    background-color: var(--bright-Yellow);
    color: white;
    font-weight: bold;
    letter-spacing: 1px;
    outline: none;
    transition-duration: 0.4s;
}

.button-sign-up button:hover {
   background-color: var(--bright-yellow-dark);
}

@media only screen and (max-width: 680px) {
    .card-container {
        grid-template-areas: 'head'
                             'left'
                             'right';
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }

    .side-left {
        border-radius: 0;
    }

    .side-right {
        border-bottom-left-radius: inherit;
    }

    main > * {
        padding: 10%;
    }

    .button-sign-up button {
        margin: 20px 0;
    }
}